<nav class="h-[15vh] bg-[#121212] w-full p-6 fixed top-0 z-50">
  <section
    class="w-full h-full flex justify-between items-center px-5 bg-black rounded-full text-white"
  >
    <p>logo</p>
    <div class="flex gap-10">
      <!-- menu -->
      <ul class="hidden lg:flex gap-4 text-[1.2rem]">
        <div class="flex items-center justify-center gap-2">
          <object
            type="image/svg+xml"
            data="assets/svgs/ball.svg"
            width="20"
            height="20"
          ></object>
          <li>Partite</li>
        </div>
        <div class="flex items-center justify-center gap-2">
          <object
            type="image/svg+xml"
            data="assets/svgs/newspaper.svg"
            width="20"
            height="20"
          ></object>
          <li>News</li>
        </div>
        <div class="flex items-center justify-center gap-2">
          <object
            type="image/svg+xml"
            data="assets/svgs/cup1.svg"
            width="20"
            height="20"
          ></object>
          <li>Classifica</li>
        </div>
      </ul>
      <div class="flex items-center justify-center gap-2 text-lime-400">
        <object
          type="image/svg+xml"
          data="assets/svgs/globe.svg"
          width="20"
          height="20"
        ></object>
        <p>Serie A</p>
      </div>
    </div>
  </section>
</nav>
<div
  class="bg-black w-full h-16 fixed bottom-0 lg:hidden flex items-center justify-center gap-14 p-4 z-50"
>
  <button class="p-2">
    <object
      type="image/svg+xml"
      data="assets/svgs/ball.svg"
      width="20"
      height="20"
    ></object>
  </button>
  <object
    type="image/svg+xml"
    data="assets/svgs/newspaper.svg"
    width="20"
    height="20"
  ></object>
  <object
    type="image/svg+xml"
    data="assets/svgs/cup1.svg"
    width="20"
    height="20"
  ></object>
</div>
