<nav class="h-[15vh] bg-[#121212] w-full p-6 fixed top-0 z-50">
  <section
    class="w-full h-full flex justify-between items-center px-5 bg-black rounded-full text-white"
  >
    <a href="home">
      <img src="assets/svgs/logo.svg" alt="" width="50" height="50" />
    </a>

    <div class="flex gap-10">
      <!-- menu -->
      <ul class="hidden lg:flex gap-4 text-2xl">
        <div class="flex items-center justify-center gap-2">
          <object
            type="image/svg+xml"
            data="assets/svgs/ball.svg"
            width="20"
            height="20"
          ></object>
          <a href="risultati-partite">Partite</a>
        </div>
        <div class="flex items-center justify-center gap-2">
          <object
            type="image/svg+xml"
            data="assets/svgs/newspaper.svg"
            width="20"
            height="20"
          ></object>
          <a href="news">News</a>
        </div>
        <div class="flex items-center justify-center gap-2">
          <object
            type="image/svg+xml"
            data="assets/svgs/cup1.svg"
            width="20"
            height="20"
          ></object>
          <a href="classifica">Classifica</a>
        </div>
      </ul>
      <div class="flex items-center justify-center gap-2 text-lime-400">
        <object
          type="image/svg+xml"
          data="assets/svgs/globe.svg"
          width="20"
          height="20"
        ></object>
        <div class="flex gap-1 items-center">
          <p class="text-2xl">Serie A</p>
          <i-lucide
            color="rgb(163 230 53 / var(--tw-text-opacity))"
            name="ChevronDown"
            class="my-icon text-white"
          ></i-lucide>
        </div>
      </div>
    </div>
  </section>
</nav>
<div
  class="bg-black w-full h-16 fixed bottom-0 lg:hidden flex items-center justify-center gap-14 p-4 z-50"
>
  <button class="p-2" routerLink="risultati-partite">
    <img src="assets/svgs/ball.svg" alt="" width="20" height="20" />
  </button>
  <button class="p-2" routerLink="news">
    <img src="assets/svgs/newspaper.svg" alt="" width="20" height="20" />
  </button>
  <button class="p-2" routerLink="classifica">
    <img src="assets/svgs/cup1.svg" alt="" width="20" height="20" />
  </button>
</div>
