<div class="w-96 h-44 rounded-3xl flex">
  <div
    class="bg-black w-1/2 h-full rounded-tl-3xl rounded-bl-3xl flex flex-col items-center justify-center gap-2"
  >
    <p class="text-2xl font font-medium">Inter</p>
    <img
      class="object-cover h-1/2"
      src="assets/img/inter-logo.png"
      alt=""
      srcset=""
    />
    <p class="text-2xl font font-medium">1</p>
  </div>
  <div
    class="bg-grigio w-1/2 h-full rounded-tr-3xl rounded-br-3xl flex flex-col items-center justify-center gap-2"
  >
    <p class="text-2xl font font-medium">Cagliari</p>
    <img
      class="object-cover h-1/2"
      src="assets/img/cagliari-logo.png"
      alt=""
      srcset=""
    />
    <p class="text-2xl font font-medium">1</p>
  </div>
</div>
