<div class="bg-blue-500 w-full lg:w-2/3 h-auto flex flex-col justify-center items-center md:flex-row p-4 rounded-3xl">
  <!-- img -->
  <div class=" h-full w-full md:w-1/3 ">
    <img class="object-cover h-full rounded-3xl" src="assets/img/allegri.jpg" alt="" srcset="">
  </div>
  <!-- infos -->
  <div class=" h-full w-full md:w-2/3 flex flex-col gap-3 p-4">
    <p>20 dicembre 2023 19-45</p>
    <h2 class="font-bold text-lime-400 text-3xl ">Allegri lo scudetto deve vincerlo l'inter</h2>
    <p class="line-clamp-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eum sed blanditiis, accusantium libero veritatis a amet exercitationem sapiente obcaecati beatae voluptatum, vel excepturi dolor assumenda tenetur soluta ratione neque?
    Autem id beatae a, atque necessitatibus suscipit dolore quibusdam odio. Adipisci rerum illum numquam vitae in optio repellendus, nostrum sint neque assumenda veniam unde eligendi. Error autem animi doloremque corporis.
    Quisquam voluptatibus expedita fugiat deleniti enim dolorem, similique cupiditate illum sapiente libero labore accusamus dignissimos nesciunt earum reprehenderit, corporis minus architecto porro modi recusandae veniam, maxime aliquid. Sint, maxime temporibus!
    Quo saepe, deleniti quos eos dolore dicta fugit, culpa totam neque explicabo cumque optio officiis velit quaerat aliquid ratione vel itaque. Doloremque, unde optio. Eos maiores iusto cupiditate quasi ab?</p>
    <p>leggi di più</p>
  </div>
</div>
