<div
  class="bg-grigio w-full min-h-[45vh] flex flex-col items-center justify-center p-4 md:flex-row rounded-3xl cursor-pointer"
>
  <div class="h-[45vh] w-full md:w-[42%] relative">
    <img
      class="object-cover h-full rounded-3xl"
      src="assets/img/allegri.jpg"
      alt=""
      srcset=""
    />
    <div
      class="bg-black h-full w-full opacity-15 absolute top-0 left-0 rounded-3xl"
    ></div>
  </div>
  <!-- <div class="bg-blue-400 h-full w-[42%]"></div> -->
  <div
    class="h-[45vh] w-full md:w-[58%] flex flex-col justify-center gap-4 p-4"
  >
    <div class="flex gap-1 items-center">
      <i-lucide name="clock" class="my-icon text-white"></i-lucide>
      <p class="font-semibold text-lg">20 dicembre 2023 19:45</p>
    </div>
    <h2 class="font-bold text-lime-400 text-3xl">
      Allegri lo scudetto deve vincerlo l'inter
    </h2>
    <p class="line-clamp-4 text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eum sed
      blanditiis, accusantium libero veritatis a amet exercitationem sapiente
      obcaecati beatae voluptatum, vel excepturi dolor assumenda tenetur soluta
      ratione neque? Autem id beatae a, atque necessitatibus suscipit dolore
      quibusdam odio. Adipisci rerum illum numquam vitae in optio repellendus,
      nostrum sint neque assumenda veniam unde eligendi. Error autem animi
      doloremque corporis. Quisquam voluptatibus expedita fugiat deleniti enim
      dolorem, similique cupiditate illum sapiente libero labore accusamus
      dignissimos nesciunt earum reprehenderit, corporis minus architecto porro
      modi recusandae veniam, maxime aliquid. Sint, maxime temporibus! Quo
      saepe, deleniti quos eos dolore dicta fugit, culpa totam neque explicabo
      cumque optio officiis velit quaerat aliquid ratione vel itaque.
      Doloremque, unde optio. Eos maiores iusto cupiditate quasi ab?
    </p>
    <div class="flex gap-1">
      <p class="text-lg">leggi di più</p>
      <i-lucide name="info" class="my-icon text-white"></i-lucide>
    </div>
  </div>
</div>
