<a [routerLink]="'/news/' + dati.news[0].id">
  <div
    class="bg-grigio min-h-[45vh] flex flex-col items-center justify-center p-4 md:flex-row rounded-3xl cursor-pointer"
  >
    <div class="h-[45vh] w-full md:w-[42%] relative">
      <img
        class="object-cover h-full w-full rounded-3xl"
        [src]="dati.news[0].immagine"
        alt=""
      />
      <div
        class="h-full w-full opacity-15 absolute top-0 left-0 rounded-3xl"
      ></div>
    </div>
    <div
      class="h-[45vh] w-full md:w-[58%] flex flex-col justify-center gap-4 p-4"
    >
      <div class="flex gap-1 items-center">
        <i-lucide name="clock" class="my-icon text-white"></i-lucide>
        <p class="font-semibold text-lg">
          {{ dati.news[0].data }}
        </p>
      </div>
      <h2 class="font-bold text-lime-400 text-3xl">
        {{ dati.news[0].titolo }}
      </h2>
      <p class="line-clamp-4 text-lg">
        {{ dati.news[0].testo }}
      </p>
      <div class="flex gap-1">
        <p class="text-lg">leggi di più</p>
        <i-lucide name="info" class="my-icon text-white"></i-lucide>
      </div>
    </div>
  </div>
</a>
