<div
  class="mt-[15vh] flex flex-col items-center justify-center py-6 w-full h-auto"
>
  <div class="w-full h-[50vh]">
    <img
      class="object-cover h-full w-full rounded-3xl"
      [src]="news.immagine"
      alt=""
    />
  </div>
  <div class="w-full min-h-[50vh] bg-[#121212] p-6">
    <div>
      <div class="text-2xl font-semibold flex gap-1 items-center">
        <i-lucide name="clock" class="my-icon text-white"></i-lucide>
        <p *ngIf="news" class="font-semibold text-lg">
          {{ news.data }}
        </p>
      </div>
      <h3 class="text-4xl font-bold">{{ news.titolo }}</h3>
      <h4 class="text-2xl font-semibold">
        {{ news.sottotitolo }}
      </h4>
      <div class="flex gap-3">
        <div class="flex-row text-lime-400 w-auto h-auto">
          {{ news.hastags }}
        </div>
      </div>
      <div *ngFor="let paragrafo of news.testo">
        <p>{{ paragrafo }}</p>
      </div>
    </div>
  </div>
</div>

<!-- card laterale section  -->
<div class="w-full min-h-[50vh]">
  <div
    class="bg-[#121212] w-full p-6 flex flex-col items-center justify-center gap-6"
  >
    <div class="w-full md:w-2/3 h-auto text-left">
      <h4 class="text-white font-bold text-4xl">Altri Articoli</h4>
    </div>
    <ng-container *ngFor="let newsItem of relatedNews; let i = index">
      <ng-container *ngIf="newsItem.id.toString() !== id">
        <div
          class="bg-grigio w-full md:w-2/3 min-h-[40vh] flex flex-col md:flex-row rounded-3xl"
        >
          <div class="w-full md:w-[45%] h-full">
            <img
              class="object-cover h-full w-full rounded-t-3xl md:rounded-3xl"
              [src]="newsItem.immagine"
              alt=""
            />
          </div>
          <div
            class="w-full md:w-[55%] h-full flex flex-col gap-6 justify-center p-6"
          >
            <h5 class="text-4xl font-semibold">
              {{ newsItem.titolo }}
            </h5>
            <p class="line-clamp-2 text-lg">
              {{ newsItem.testo }}
            </p>
            <div class="flex items-center gap-4">
              <div class="flex gap-1 items-center">
                <i-lucide name="clock" class="my-icon text-white"></i-lucide>
                <p class="font-semibold text-lg">{{ newsItem.data }}</p>
              </div>
              <div class="flex gap-1 items-center">
                <i-lucide name="eye" class="my-icon text-white"></i-lucide>
                <p class="font-semibold text-lg">400 visite</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
