<div
  class="mt-[15vh] flex flex-col items-center justify-center py-6 w-full h-auto"
>
  <div class="w-full h-[50vh]">
    <img
      class="object-cover h-full w-full rounded-3xl"
      [src]="news.immagine"
      alt=""
    />
  </div>
  <div class="w-full min-h-[50vh] bg-[#121212] p-6">
    <div>
      <div class="text-2xl font-semibold flex gap-1 items-center">
        <i-lucide name="clock" class="my-icon text-white"></i-lucide>
        <p *ngIf="news" class="font-semibold text-lg">
          {{ news.data }}
        </p>
      </div>
      <h3 class="text-4xl font-bold">{{ news.titolo }}</h3>
      <h4 class="text-2xl font-semibold">
        {{ news.sottotitolo }}
      </h4>
      <div class="flex gap-3">
        <div class="flex-row text-lime-400 w-auto h-auto">
          {{ news.hastags }}
        </div>
      </div>
      <div *ngFor="let paragrafo of news.testo">
        <p>{{ paragrafo }}</p>
      </div>
    </div>
    <div class="w-full min-h-[50vh] bg-green-200"></div>
  </div>
</div>

<!-- card laterale section  -->

<!-- <ng-container *ngFor="let newsItem of dati?.news; let i = index">
  <ng-container *ngIf="i >= 1 && i <= 2">
    <app-news-side [dati]="newsItem"></app-news-side>
  </ng-container>
</ng-container> -->

<div
  class="bg-[#121212] w-full h-screen p-6 flex flex-col items-center justify-center gap-6"
>
  <div class="w-full md:w-2/3 h-auto text-left">
    <h4 class="text-white font-bold text-4xl">Altri Articoli</h4>
  </div>
  <div
    class="bg-grigio w-full md:w-2/3 min-h-[40vh] flex flex-col md:flex-row rounded-3xl"
  >
    <div class="w-full md:w-[45%] h-full">
      <img
        class="object-cover h-full w-full rounded-t-3xl md:rounded-3xl"
        src="assets/img/allegri.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div
      class="w-full md:w-[55%] h-full flex flex-col gap-6 justify-center p-6"
    >
      <h5 class="text-4xl font-semibold">I Numeri di maglia della juve 2023</h5>
      <p class="line-clamp-2 text-lg">
        La Juventus ha ottenuto una straordinaria vittoria sul campo avversario
        nella recente partita di Serie A, dimostrando una prestazione
        eccezionale che ha entusiasmato i tifosi. La squadra bianconera ha
        dominato il gioco con una combinazione di abilità difensive impeccabili
        e attacchi sorprendenti. I giocatori hanno dimostrato grande coesione e
        determinazione, segnando gol spettacolari che hanno reso la partita
        memorabile. La vittoria rappresenta un passo importante per la Juventus
        nella corsa al titolo della Serie A, consolidando la loro posizione tra
        le squadre di vertice del campionato.",
      </p>
      <div class="flex items-center gap-4">
        <div class="flex gap-1 items-center">
          <i-lucide name="clock" class="my-icon text-white"></i-lucide>
          <p class="font-semibold text-lg">04-01-2024 14:30</p>
        </div>
        <div class="flex gap-1 items-center">
          <i-lucide name="eye" class="my-icon text-white"></i-lucide>
          <p class="font-semibold text-lg">400 visite</p>
        </div>
      </div>
    </div>
  </div>
</div>
