<footer
  class="h-[40vh] w-full flex flex-col md:flex-row gap-3 mb-28 lg:mb-0 text-lg"
>
  <div
    class="w-full md:w-1/2 h-full flex flex-col justify-center items-center gap-2"
  >
    <h5 class="text-2xl font-medium">Contatti</h5>
    <div>
      <ul>
        <li>emailcontatti@gmail.com</li>
        <li>emailcontatti@gmail.com</li>
        <li>emailcontatti@gmail.com</li>
      </ul>
    </div>
  </div>
  <div
    class="w-full md:w-1/2 h-full flex flex-col justify-center items-center gap-2"
  >
    <h5 class="text-2xl font-medium">NewsLetter</h5>
    <div class="flex">
      <input
        class="w-40 h-12 rounded-l-full p-2 text-black"
        type="text"
        placeholder="inserisci la tua email"
        [(ngModel)]="mail"
      />
      <button
        [disabled]="mail === ''"
        class="bg-blue-500 w-16 h-12 rounded-r-full p-2"
        (click)="inviaMail()"
      >
        invia
      </button>
    </div>
  </div>
</footer>
