<div class="min-h-screen w-full mt-[15vh] bg-purple-200 p-2">
  <!-- risultati -->
  <div *ngIf="partita" class="bg-slate-800 w-full h-auto flex flex-col p-2">
    <div
      class="w-full flex flex-col justify-center items-center"
      *ngFor="let evento of partita.eventi; let last = last"
    >
      <div class="w-full flex">
        <div
          [ngClass]="
            evento.id_squadra === partita.squadre.squadra_casa.id
              ? 'flex  w-full  '
              : 'flex w-full flex-row-reverse   '
          "
        >
          <div
            class="w-1/2 h-20"
            [ngClass]="
              evento.id_squadra === partita.squadre.squadra_casa.id
                ? 'bg-red-800 text-right p-4 '
                : ' bg-blue-800 p-4'
            "
          >
            <p class="text-white">
              {{ evento.minuto }}' - {{ evento.tipo }} - {{ evento.giocatore }}
            </p>
          </div>
          <div class="w-1/2 h-20"></div>
        </div>
      </div>
      <ng-container *ngIf="!last">
        <p>|</p>
      </ng-container>
    </div>
    <!-- formazioni -->
    <div class="bg-green-300 w-full min-h-[50vh] flex flex-wrap">
      <div class="w-full bg-blue-700 lg:w-1/2 h-auto flex flex-col gap-5">
        <h4 class="text-3xl font-bold">Squadra Casa</h4>
        <div
          *ngFor="let giocatore of partita.squadre.squadra_casa.formazione_casa"
        >
          <div class="flex gap-2 itmes-center">
            <p class="border-2 border-white rounded-full p-2">
              {{ giocatore.ruolo }}
            </p>
            <p class="text-[1.2rem]">{{ giocatore.nome }}</p>
          </div>
        </div>
      </div>
      <div class="w-full bg-blue-400 lg:w-1/2 h-auto flex flex-col gap-5">
        <h4 class="text-3xl font-bold">Squadra Ospite</h4>
        <div
          *ngFor="
            let giocatore of partita.squadre.squadra_ospite.formazione_ospiti
          "
        >
          <div class="flex gap-2 itmes-center">
            <p class="border-2 border-white rounded-full p-2">
              {{ giocatore.ruolo }}
            </p>
            <p class="text-[1.2rem]">{{ giocatore.nome }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- card laterale section  -->

<div
  class="bg-[#121212] w-full h-screen p-6 flex flex-col items-center justify-center gap-6"
>
  <div class="w-full md:w-2/3 h-auto text-left">
    <h4 class="text-white font-bold text-4xl">Altri Articoli</h4>
  </div>
  <div
    class="bg-grigio w-full md:w-2/3 min-h-[40vh] flex flex-col md:flex-row rounded-3xl"
  >
    <div class="w-full md:w-[45%] h-full">
      <img
        class="object-cover h-full w-full rounded-t-3xl md:rounded-3xl"
        src="assets/img/allegri.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div
      class="w-full md:w-[55%] h-full flex flex-col gap-6 justify-center p-6"
    >
      <h5 class="text-4xl font-semibold">I Numeri di maglia della juve 2023</h5>
      <p class="line-clamp-2 text-lg">
        La Juventus ha ottenuto una straordinaria vittoria sul campo avversario
        nella recente partita di Serie A, dimostrando una prestazione
        eccezionale che ha entusiasmato i tifosi. La squadra bianconera ha
        dominato il gioco con una combinazione di abilità difensive impeccabili
        e attacchi sorprendenti. I giocatori hanno dimostrato grande coesione e
        determinazione, segnando gol spettacolari che hanno reso la partita
        memorabile. La vittoria rappresenta un passo importante per la Juventus
        nella corsa al titolo della Serie A, consolidando la loro posizione tra
        le squadre di vertice del campionato.",
      </p>
      <div class="flex items-center gap-4">
        <div class="flex gap-1 items-center">
          <i-lucide name="clock" class="my-icon text-white"></i-lucide>
          <p class="font-semibold text-lg">04-01-2024 14:30</p>
        </div>
        <div class="flex gap-1 items-center">
          <i-lucide name="eye" class="my-icon text-white"></i-lucide>
          <p class="font-semibold text-lg">400 visite</p>
        </div>
      </div>
    </div>
  </div>
</div>
