<div class="mt-[15vh] w-full min-h-screen p-4">
  <div class="w-full h-auto flex flex-wrap gap-10 justify-center px-10">
    <h1
      class="text-4xl text-lime-400 font-semibold p-10 flex gap-2 items-center w-full"
    >
      Le utime partite
      <object
        type="image/svg+xml"
        data="assets/svgs/ball-colorata.svg"
        width="25"
        height="25"
      ></object>
    </h1>
    <app-singlematch-preview
      *ngFor="let match of matches"
      [match]="match"
    ></app-singlematch-preview>
  </div>
</div>
