<div
  class="w-full min-h-[40vh] flex flex-col justify-center items-center gap-6 p-6 py-2 cursor-pointer"
>
  <h3 class="text-4xl font-semibold">Le ultime partite</h3>
  <div
    class="w-full h-auto p-4 flex flex-col md:flex-row items-center gap-4 lg:justify-around lg:px-10"
  >
    <app-singlematch-preview></app-singlematch-preview>
    <app-singlematch-preview></app-singlematch-preview>
    <app-singlematch-preview></app-singlematch-preview>
  </div>
  <div class="flex gap-1">
    <p class="text-lg">Mostra di più</p>
    <i-lucide name="info" class="my-icon text-white"></i-lucide>
  </div>
</div>
